* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #e2e8f0;
  --profile-pic-bg: #facc15;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

.sidebar {
  background-color: #1992d4;
  height: 100%;
  width: 25vw;
  max-width: 300px;
  min-width: 300px;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-text {
  color: white;
  font-size: 1.6em;
  font-weight: bolder;
  margin: 4px 0 0 10px;
}

.dashBoard-icon {
  width: 2.6em;
  margin-left: 16px;
}

.nav-middle {
  width: 100%;
  height: 30%;
}

.nav-items {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  width: 1.4em;
  margin: 10px 30px 20px 20px;
}

.nav-text {
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}

.nav-end {
  margin-top: 10vh;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.main-header {
  height: 20vh;
  box-shadow: 4px 1px 5px 1px #0000003a;
  width: 100%;
  max-width: 85vw;
  overflow: hidden;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40%;
}

.search-section {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button,
.notifications {
  margin: 0 0 0 2vw;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  max-width: 50px;
  max-height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all ease-in-out 0.3s;
}

.search-button .icon,
.notifications .icon {
  margin: 0;
  font-size: 1.3em;
}

button {
  cursor: pointer;
}

.search-button:hover {
  background-color: #6e97a33f;
}

.search {
  width: 34vw;
  height: 30px;
  border-radius: 16px;
  background-color: var(--main-bg);
  outline: none;
  border: none;
  padding: 0 10px;
}

.user-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin-right: 5vw;
  flex: 1;
}

.mini-profile-picture {
  background-color: var(--profile-pic-bg);
  border-radius: 50%;
  padding: 5px;
  margin: 0 1.3vw;
}

.mini-profile-picture > img {
  width: 4vw;
  max-width: 45px;
}

.mini-username {
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0 0 0 40px;
}

.bottom {
  border: 1px solid;
  height: 60%;
  display: flex;
  align-items: center;
  width: 100%;
}

.profile-picture {
  border-radius: 50%;
  background-color: var(--profile-pic-bg);
  padding: 5px;
  margin: 0 0 0 2.9vw;
}

.profile-picture img {
  width: 4.7vw;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 2vw;
}

.message {
  margin: 0 0 0.4vw 0;
  font-weight: bold;
}

.username {
  font-weight: bold;
  font-size: 1.4vw;
}

.buttons-section {
  margin-left: 23vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new , .upload, .share{
  width: 10vw;
  max-width: 150px;
  height: 50px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: #1992d4;
  color: white;
  font-weight: bold;
  font-size: 1vw;
  margin-left: 2vw;
}
